services:
  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    volumes:
      - ./volumes/db_data:/var/lib/mysql
      - ./mysql_init.sh:/docker-entrypoint-initdb.d/mysql_init.sh
    networks:
      - auth-network

  api:
    build: api
    restart: unless-stopped
    environment:
      DA_ISPROD: ${ISPROD}
      DA_JWT_SECRET: ${JWT_SECRET}
      DA_DB_USER: ${MYSQL_USER}
      DA_DB_PASS: ${MYSQL_PASSWORD}
      DA_DB_NAME: ${MYSQL_DATABASE}
      DA_DB_HOST: db
      DA_LOG_DIR: ${LOG_DIR}
      DA_KEEP_LOG_DAYS: ${KEEP_LOG_DAYS}
      DA_LOG_TO_TERMINAL: ${LOG_TO_TERMINAL}
      DA_EMAIL: ${EMAIL}
      DA_EMAIL_PASSWORD: ${EMAIL_PASSWORD}
      DA_INTERNAL_TOKEN: ${INTERNAL_TOKEN}
      DA_RABBITMQ_USER: ${RABBITMQ_USER}
      DA_RABBITMQ_PASS: ${RABBITMQ_PASS}
      DA_RABBITMQ_HOST: ${RABBITMQ_HOST}
      DA_RABBITMQ_PORT: ${RABBITMQ_PORT}
    ports:
      - "1000:1000"
    volumes:
      - ./volumes/logs:/app/logs
      - ./volumes/exports:/app/exports
      - ./volumes/profile_pictures:/app/profile_pictures
    depends_on:
      - db
    networks:
      - auth-network
      - rabbitmq-net
    dns:
      - localhost
      - 192.168.1.141
      - 1.1.1.1
    healthcheck:
      test: [
        "CMD-SHELL",
        "curl -v -f http://localhost:1000/health/docker || exit 1",
      ]
      interval: 60s
      timeout: 10s
      retries: 3
      start_period: 60s

  adminer:
    image: adminer
    restart: unless-stopped
    ports:
      - "3000:8080"  # Adminer draait van binnen op 8080, buiten op 3000
    networks:
      - auth-network
    depends_on:
      - db

volumes:
  db_data:
  logs:
  exports:

networks:
  auth-network:
    driver: bridge
  rabbitmq-net:
    external: true
